body{
    margin: 0;
    background-color: gray;
}p{
    font-size: 20px;
    Font-family: Times Roman, times San Serif;
}b{
    font-size: medium;
    Font-family: Times Roman, times San Serif;
}h1{
    text-align: center;
}h2{
    text-align: center;
}img{
    margin-right: 80%;
    width: 120px;
    height: 150px;
}